/* # Global Styles
================================================== */
html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;

	margin: 0 auto -50px;
}

#push,
footer.main {
	height: 50px;
}

footer.main hr {
	margin: 0 0 13px;
}

a.addFav,
a.addFav:hover {
	text-decoration:none;
	color:#000;
}

a.addFav:hover .fa-star-o,
a.addFav .fa-star {
    display: none;
}
a.addFav:hover .fa-star {
    display: inline;
}

/* External links */
a[href^="https:"],
a[href^="http:"] {
	padding:0 7px 0 0;
	background: url('../img/external.png') no-repeat right center;
}

a[href^="https:"]:hover,
a[href^="http:"]:hover {
	background: url('../img/external.png') no-repeat right top;
}

#page_delete:hover {
	color:#B94A48;
}

/* # Editor Styles
================================================== */
.nav-tabs li a.dropdown-toggle {
	margin-right:0;
}

.editor-buttons {
	margin:4px 10px 0 0;
}

#form_content {
	width:100%;
	min-height:100px;
	resize:vertical;
	border: solid #ddd;
	border-width:0 1px 1px;
	
	padding:20px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-actions {
	margin: 10px 15px;
}

/* # Additional Bootstrap Styles
================================================== */
 
/* Base styles (regardless of theme) */
.bs-callout {
	margin: 20px 0 0;
	padding: 15px 15px 25px;
	border-left: 5px solid #eee;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.bs-callout h4 {
	margin-top: 0;
}

.bs-callout-danger h4 {
	color: #B94A48;
}

.bs-callout-warning h4 {
	color: #C09853;
}

.bs-callout-info h4 {
	color: #3A87AD;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}
 
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}