body { padding-top: 60px; position: relative; }

#form_pageContent { width:100%; min-height:100px; resize:vertical; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a[href^="https:"],
a[href^="http:"] { }

a[href^="https:"]:hover,
a[href^="http:"]:hover { background: url('../img/external.png') no-repeat right top;}